.logo-background {
    background-color: #FFFD98;
    color: darkslategrey;
}
form {
    display: block;
    margin-top: 0em;
}
.signin {
    align-content: center;
}
#submit {
    border: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    transition: 0.7s;
    height: 50px;
    font-size: large;
}
#submit:hover {
    transform: scale(1.2);
}
label {
    display: inline-block;
    letter-spacing: 1px;
    margin-bottom: 5px;
    max-width: 100%;
    color: #0c2255;
}
h1{
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
div {
    display: block;
}
.form-wrap {
    max-width: 600px;
    padding-top: 20px;
    background-color: #f8fafb;
    margin-top: 10px;
}
.signin button, .signin input[type=email], .signin input[type=password], .signin input[type=text] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button {
    color: lavender;
    width: 170px;
    background: cornflowerblue;
    background-size: 200px;
}

footer {
    background-color: #FFFD98;
    color: darkslategrey;

}
.list {
    list-style-type: none;
    padding: 0;

}
.list a {
    padding: 15px;
    display: inline-block;
}
@media screen and (max-width: 1920px) {
    .whole-wrap {
        float: none;
        max-width: 500px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}
@media screen and (max-width: 1920px) {
    .username .password {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .signin #login #thePassword{
        max-width: 300px;
        padding: 9px;
    }
}
@media screen and (min-width: 750px){
    footer {
        text-align: center;
    }
    .list {
        display: flex;
        justify-content: center;
    }
}
