.logo-background {
    background-color: #FFFD98;
    color: darkslategrey;
}
footer {
    background-color: #FFFD98;
    color: darkslategrey;

}
.list {
    list-style-type: none;
    padding: 0;

}
.list a {
    padding: 15px;
    display: inline-block;
}
form {
    display: block;
    margin-top: 0em;
}
.modal {
    max-width: 600px;
    padding-top: 20px;
    background-color: #f8fafb;
    margin-top: 10px;
}
.signupbtn, .cancelbtn, .container input[type=email], .container input[type=password], .container input[type=text], .container select {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@media screen and (min-width: 750px){
    footer {
        text-align: center;
    }
    .list {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1920px) {
    .whole-wrap {
        float: none;
        max-width: 500px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}
@media screen and (max-width: 1920px) {
    .username .password {
        max-width: 330px;
        padding: 15px;
        margin: 0 auto;
    }
    .signin #login #thePassword #user-type{
        max-width: 300px;
        padding: 9px;
    }
}
