img.face{
    float:left;
}
.titlePic {
    float: left;
    width: 30%;
    height: fit-content;
    padding: 20px;
}
h1 {
    font-family: 'Gluten', cursive;
    text-align: left;
    width: auto;
}
h2 {
    font-family: 'Grey Qo', cursive;
    text-align: center;

}
.name {
    font-family: 'Quantico', sans-serif;
}
.clearfix {
    clear: both
}
.wrapper {

}
aside {
    float: left;
    width: 200px;
    height: 400px;
    padding: 20px;
    background: gold;
}
article {
    height: 400px;
    width: 600px;
    float: left;
    text-align: center;
    padding: 20px;

}
.placeholder {
    font-family: 'Grey Qo', cursive;
}

.resourcesBox {

}
.projectsBox {

}
