h1 , h2, h3, span {
    margin: 0;
}

h1 {
    font-size: 16rem;
}

h2 {
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    margin: 0 auto;
    padding: 0;
}

h3 {
    font-size: 60px;
}

span {
    font-size: 6rem;
    font-weight: 600;
}

.container {
    max-width: 550px;
    height: 100vh;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-rows: 20% 80%;
    padding: 25px 5px;
    background-color: lightcyan;
}

.degrees {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-left: 2rem;
}

img {
    width: 80px;

}