.logo-background {
  background-color: #fffd98;
  color: darkslategrey;
}
.banner {
  background-color: #7a9cc6;
  color: #f7fff7;
  background-image: url('../img/Kings College (1).png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

form {
  margin: 60px;
  margin-top: 15px;
}

form label {
  display: block;
  margin: 10px 0px;
}
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

body {
  background-color: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
details {
  margin: 40px;
}
summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 23px;
  height: 17px;
  background-color: #dcdcdc;
  border: 2px solid #555555;
  border-radius: 4px;
  color: #555555;
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: '';
}
summary::after {
  content: 'III';
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: 'O';
}
details[open] summary::after {
  content: '';
}
.menu {
  height: 0;
  width: fit-content;
  border-radius: 10px;
  background-color: #dcdcdc;
  box-shadow: 0 4px 12px 0 black;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: closeMenu 300ms ease-in-out forwards;
}
.menu a {
  font-family: Chalkboard;
  padding: 10px 20px;
  margin: 0 16px;
  color: #555555;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
}
.menu a:nth-of-type(1) {
  padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
  border-bottom: none;
}
.menu a:hover {
  filter: brightness(200%);
}
details::before {
  content: 'Contact Us';
  color: black;
  position: absolute;
  margin-left: 50px;
  padding: 5px 10px;
  opacity: 0.5;
  font-size: 30px;
  font-weight: bolder;
  font-family: Comic Sans MS;
}
details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 400px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
